







*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  /* overflow: hidden; */
  list-style-type: none;
  background-color: #333;
  position: fixed;
}
/* ul {
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
  position: fixed;
} */
li {
  float: left;
  border-right: 1px solid whitesmoke;
}
li a  {
  float: left;
  display: block;
  color: aliceblue;
  text-align: center;
  padding:20px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
}
.active {
  background-color: chocolate;
}
.flower {
  height: 100vh;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #dcdcdc;
  background-image: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  font-weight: 900;
  display: flex;
  color: burlywood;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .navigation .search-container button:hover
{
  background: #ccc;
} */
.navigation .search-container
{
  float: right;
}
.search-container button{
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  overflow: hidden;
  padding: 14px;
}